<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom indentifier</title>
    <script>
        function uploadImage(event) {
            event.preventDefault();

            let formData = new FormData();
            let imageFile = document.getElementById("imageInput").files[0];
            formData.append("image", imageFile);

            fetch("/upload", {
                method: "POST",
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        document.getElementById("result").innerHTML = `<p style="color:red;">${data.error}</p>`;
                    } else {
                        let predictions = data.prediction.predictions;
                        let output = "<h3>Prediction:</h3>";

                        if (predictions.length > 0) {
                            predictions.forEach(pred => {
                                output += `<p><strong>Mushroom class:</strong> ${pred.class} <br> <strong>Prediction %:</strong> ${(pred.confidence * 100).toFixed(2)}%</p>`;
                            });
                        } else {
                            output += "<p>Other than chanterelle(?) lol</p>";
                        }
                        document.getElementById("uploadedImage").src = URL.createObjectURL(imageFile);
                        document.getElementById("uploadedImage").style.display = "block";

                        document.getElementById("result").innerHTML = output;
                    }
                })
                .catch(error => console.error("Error:", error));
        }
    </script>
</head>

<body>
    <h1>Mushroom indentifier</h1>
    <form onsubmit="uploadImage(event)">
        <input type="file" id="imageInput" accept="image/*" required>
        <button type="submit">Submit</button>
    </form>
    <img id="uploadedImage" style="max-width: 300px; display: none;">
    <div id="result"></div>
</body>

</html>